@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
*{
    box-sizing: border-box;
    text-align: center;
}
body{
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}
.main{
    position: relative;
    margin: 130px auto;
    width: 427px;
    height: 659px;
    background-color: white;
    border-radius: 23px;
    overflow: hidden;
}
img{
    width: 100%;
    border-radius: 12px 13px 0 0;
}
h1{
    font-family: 'Red Hat Display', sans-serif;
    color: #2b306c;
    text-align: center;
}
.p-description{
    margin: 24px 0 0 13%;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    width: 75%;
    color: rgb(103 137 145);
    text-align: center;
}
.price{
    position: relative;
    width: 79%;
    height: 98px;
    margin: 35px 0 0 11%;
    background-color: rgb(217 219 229 / 56%);
    border-radius: 10px;
}
i{
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 26px;
    background-color: hsl(225, 100%, 98%);
    padding: 12px 16px 14px 12px;
    color: hsl(224, 23%, 55%);
}
h4{
    color: hsl(223, 47%, 23%);
    text-align: center;
    position: relative;
    top: 25px;
    right: 27px;
    font-family: 'Red Hat Display', sans-serif;
}
.p-price{
    margin: 31px 0 0 4%;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    width: 75%;
    color: rgb(103 137 145);
    text-align: center;
}
a{
    font-family: 'Red Hat Display', sans-serif;
}
.a-price{
    position: absolute;
    top: 40px;
    right: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 13px;
    color: rgb(255 255 255);
    text-decoration: none;
    border: 2px solid #0d1a5e;
    padding: 5px;
    border-radius: 13px;
    background-color: #181864;
    box-shadow: 0px 0px 11px -2px #0008ff;
}
.a-buy{
    position: relative;
    top: 49px;
    left: 2px;
    text-decoration: none;
    padding: 18px 94px;
    background: rgb(66,80,231);
    background: linear-gradient(342deg, rgb(75 87 207) 0%, rgb(157 25 218) 100%);
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    color: white;
    box-shadow: 0px 17px 47px 1px hsl(232deg 78% 61% / 68%);
}
.a-cancel{
    position: absolute;
    bottom: 2rem;
    right: 10rem;
    text-decoration: none;
    color: rgb(103 137 145);
}
@media only  screen and (max-width: 469px) {
    .main{
        width: 24rem;
        height: 651px;
    }
    .a-buy{
        padding: 18px 75px;
    }
    .a-cancel{
        bottom: 36px;
        right: 140px;
    }
    i{
        top: 25px;
        left: 15px;
    }
}
@media only  screen and (max-width: 420px) {
    .main{
        width: 20rem;
        height: 561px;
    }
    .a-cancel{
        bottom: 24px;
        right: 112px;
        font-size: 15px;
    }
    .a-buy{
        padding: 17px 48px;
        top: 38px;
        left: 2px;
    }
    .a-price{
        margin: 1px -11px 0px 11%;
        font-size: 10px;
    }
    .price{
        margin: 28px 0 0 11%;
    }
    i{
        top: 25px;
        left: 7px;
    }
    h4{
        top: 26px;
        right: 14px;
        font-size: 15px;
    }
    .p-price{
        width: 75%;
        font-size: 15px;
        margin: 31px 0 0 6%;
    }
    .p-description{
        margin: 20px 0 0 13%;
        font-size: 15px;
        width: 77%;
    }
    h1{
        font-size: 21px;
    }
}